#navbar{
    background-color:#fff;
    border-bottom:1px solid;
}

.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

#hero{
    object-fit: cover;
    height:500px;
    width:600px;
    padding-top: 60px;
    padding-left: 30px;
}
#articles{
    position: relative;
    width:95%;
    
}
.smallHead{
    font-size: 3 !important;
}


.listingsH{
    list-style-type: none;
    float:left;
    
}
@media only screen and( max-width:992px){
    #hero{
        width:80%;
        height:80%;
        right:10px;
    }
}


.footerSty{
    background-color: #f7f7f7;
}

.footList{
    font-size: 14px;
    font-weight: 200;
}